.main {
    width: 100%;
    max-width: 900px;
    min-height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.form {
    width: 90%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    box-shadow: 0 0 6px var(--color-gray-600);
    padding: 24px;
    max-width: 428px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    background-color: #faf8f8;
    border-radius: 8px;
    border: solid 1px;
}
.form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 8px;
}

.button{
      background-color: #efeaec;
    color: hotpink;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgb(230, 76, 153);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.input{

  
  height: 45px;
  border-radius: var(--border-radius);
  outline: none;
  padding-left: 8px;
  background-color: var(--color-gray-200);
  border: none;
}

