

.div{
    display: grid;
    gap:  15px;
}

.div_visores {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.despesaVisor{
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
}
.divPost{
display: flex;
    flex-direction: column;
    gap: 24px;

}
.lucroVisor{
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh;
}

.div{
   display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.Descrição{
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
}

.Valor{
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
}

.button{

      background-color: #efeaec;
    color: hotpink;
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.h1_Gestão_Financeira{
    display: flex
;
    justify-content: center;

        }