.body {
 background: pink;
}

.div{
    display: grid;
    gap:  15px;
}

.name{
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
}

.price_sell {
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
}

.custo {
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
}

.produtoVisor {
    width: 70vh;
    background: white;
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_Gestão_De_Produtos {
    color: white;
}

.add {
    
    background: pink;
}